@charset "utf-8";

#header {
  margin-bottom: var(--space-40);
}

#product-detail {
  margin-bottom: var(--font-size-40);
}

#product-detail .product-detail-inner .item {
  display: flex;
  justify-content: space-between;
}

#product-detail .thumbnail-list {
  width: 10%;
  min-width: 64px;
}

#product-detail .thumbnail-list ul li {
  margin-bottom: var(--space-10);
  border-radius: 8px;
  overflow: hidden;
  border: 3px solid var(--color-gray);
  transition: 0.5s;
}

#product-detail .thumbnail-list ul li.active {
  /* サムネイルリストクリックで目立つようにする */
  border: 3px solid var(--btn-primary);
  box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.3);
}

#product-detail .thumbnail-list ul li img {
  transition: 0.5s;
}

#product-detail .thumbnail-list .hover-zoom:hover img {
  transform: scale(1.1);
}

#product-detail .img-box {
  width: 50%;
}

#product-detail .img-box img {
  object-fit: cover;
  object-position: center center;
  width: 100%;
  min-width: 240px;
  /* min-height: 300px; */
}

#product-detail .detail-box {
  width: 38%;
}

.detail-box .shop {
  font-size: var(--font-size-15);
  color: var(--color-darkgreen);
}

.detail-box .shop a:hover {
  text-decoration: underline;
}

.detail-box .shop i {
  margin-right: 0.2em;
}


.detail-box h2 {
  font-size: var(--font-size-30);
  /* 行端揃えをすると文字間隔が変になることがあるのでコメントアウトする。 */
  /* text-align: justify; */
}

.detail-box h3 {
  font-size: var(--font-size-25);
  font-weight: normal;
  margin-bottom: var(--space-5);
}

.detail-box h3 i {
  margin-right: 0.2em;
}

.detail-box .star {
  margin-bottom: var(--space-10);
}

.detail-box .point {
  margin-bottom: var(--space-10);
  text-align: left;
}

.detail-box .btn-register {
  /* width: 200px; */
  /* box-sizing: border-box; */
  /* height: 3em; */
  display: inline-block;
  width: auto;
  margin-bottom: var(--space-20)
}

.detail-box .btn-register a {
  background-color: var(--btn-primary);
  color: var(--color-white);
  border-radius: 8px;

  padding: 0.8em 1em;

  display: flex;
  justify-content: center;
  align-items: center;
}

.detail-box .btn-register img {
  width: 32px;
  margin-right: 0.3em;
}

.detail-box .description {
  text-align: justify;
}

@media screen and (max-width:800px) {
  #product-detail .product-detail-inner .item {
    flex-wrap: wrap;
    justify-content: space-between;
  }

  #product-detail .thumbnail-list {
    width: 15%;
    min-width: 0;
    /* margin-right: 1%; */
  }

  #product-detail .img-box {
    width: 83%;
    /* max-width: 600px; */
  }

  #product-detail .img-box img {
    margin: 0 auto;
  }

  #product-detail .detail-box {
    width: 100%;
  }

}


.slider {
  width: 100%;
  margin: 0 auto;
}

/* .slick-item { */
/* background-color: beige; */
/* width: 10%; */
/* height: 200px; */
/* } */

.slick-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* slickの矢印をカスタマイズする */
.slick-prev {
  left: 8px;
  top: 40%;
  z-index: 1;
}

.slick-next {
  right: 32px;
  top: 40%;
  z-index: 1;
}

.slick-prev:before,
.slick-next::before {
  color: #aaa;
  font-size: 48px;
  opacity: 0.6;
}

#check-list {
  margin-bottom: var(--font-size-40);
}

#check-list h2 {
  margin-bottom: var(--space-10);
}

#check-list h2 i {
  margin-right: 0.2em;
}


#check-list .slick-slide {
  padding-left: 0.2em;
  padding-right: 0.2em;
}

@media screen and (max-width:800px) {
  #check-list h2 {
    font-size: var(--font-size-25);
  }
}

@media screen and (max-width:500px) {
  #check-list .slick-slide .product-item .price {
    font-size: var(--font-size-25);
  }
}