@charset "utf-8";

/*inview
-----------------------------*/
/*==waiting==/
/*common(waiting)*/
.transform1,
.transform2,
.up,
.left,
.right {
  opacity: 0;
  position: relative;
}

/*transform1*/
.transform1 {
  transform: scaleX(0);
}

/*transform2*/
.transform2 {
  transform: perspective(400px) rotateX(100deg);
}

/*up*/
.up {
  bottom: -50px;
}

/*left*/
.left {
  left: -100px;
}

/*right*/
.right {
  right: -100px;
}

/*==================================*/
/*==================================*/
/*==action==*/
/*common(action)*/
.transform1style,
.transform2style,
.upstyle,
.leftstyle,
.rightstyle {
  opacity: 1;
  transition: 1.5s 0.5s;
}

.transform1style {
  transform: scaleX(1);
}

.transform2style {
  transform: perspective(0px) rotateX(0deg);
}

.upstyle {
  bottom: 0px;
}

.leftstyle {
  left: 0px;
}

.rightstyle {
  right: 0px;
}